.flex{
	display: flex;
}

.flex-center{
	justify-content: center;
	align-items: center;
}

.flex-col{
	flex-direction: column;
}

.flex-row{
	flex-direction: row;
}

.flex-bet-space{
	justify-content:space-between;
}

.flex-aro-space{
	justify-content:space-around;
}

.flex-ali-cen{
	align-items:center;
}