body {
	background-color: white;
}

.header{
	justify-content:space-between;
}

.aloha{
	height: 100px;
	width: 150px;
}

.nav1{
	/*display: flex;
	justify-content:flex-end;
	align-items: center;*/
}

.nav1 ul{
	display: flex;
}

.nav1 li{
	padding-right:  10px;
}

.nav1 a{
	text-decoration: none;
}

a:hover {
	color: #339999;
	font-weight: bold;
	text-decoration: none;
}

.cart{
	height: 80px;
	width: 80px;
}

.banner {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("images/banner-girl.png") , url("images/flower-bkgd.jpg");
    background-size: 20%, 100%;
    background-position: bottom, center;
    background-repeat: no-repeat, no-repeat;
    height: 50vw;
}

.heading{
	font-family: 'Playfair Display', serif;
}

.parent{
	align-items: center;
	flex-direction: row;
}

.child{
	width:25%;
}

.child img{
	max-width:100%;
}

.product{
	padding-top: 20px;
}

.disc{
	font-size: 25px;
}

.final{
	flex-direction: column;
	justify-content: center;
    align-items: center;
	text-align:center;
	background-image: url("images/wave-bkgd.jpg");
	background-position: bottom, center;
	height: 400px;
}

.subbtn{
	-webkit-border-radius:80px;
}

input{
	background-color: transparent;
	outline-width: 0;
    border: 0px solid;
    height: 20px;
    width: 160px;
    color: #CCC;
}

.subscribe{
	-webkit-border-radius:50px;
}

.list{
	display: flex;
	flex-direction:column;
	align-content:center;
}

.icon{
	width: 30%;
}

.social {
	width: 5rem;
}

.social a{
	text-decoration:none;
}

.footer{
	background-color: #2B1B17;
	justify-content:space-between;
}
